{% extends "base.html" %}

{% block content %}

<section class="app-page student-page student-dashboard-page">

<h1>Student Assessments</h1>
<p class="primary-page-action">
    <a class="button-link" href="{{ url_for('views.student_submissions') }}">
        My Submissions
    </a>
</p>

{% if assessments %}
    <ul class="student-assessment-list">
        {% for assessment in assessments %}
            <li class="student-assessment-card">
                <a class="assessment-title-link" href="{{ url_for('views.student_assessment_details',assessment_id=assessment.assessment_id) }}">
                    {{ assessment.unit_code }} -
                    {{ assessment.title }}
                </a>

                <span class="assessment-status status-{{ assessment.status | lower }}">
                    {{ assessment.status }}
                </span>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No published assessments are currently available.</p>
{% endif %}

</section>

{% endblock %}
