{% extends "base.html" %}

{% block content %}

    <section class="app-page student-page submissions-page my-submissions-page">

    <h1>My Submissions</h1>

    {% if submissions %}
        <ul class="submission-list">
            {% for submission in submissions %}
                <li class="submission-card">
                    <strong>
                        {{ submission.unit_code }}
                        -
                        {{ submission.assessment_title }}
                    </strong>

                    <br>

                    File:
                    {{ submission.original_filename }}

                    <br>

                    Status:
                    {{ submission.status }}

                    <br>

                    Submitted:
                    {{ submission.submitted_at }}

                    <br>

                    <a class="button-link" href="{{ url_for(
                        'views.student_submission_details',
                        submission_id=submission.submission_id
                    ) }}">
                        View Submission
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No submissions yet.</p>
    {% endif %}

    <p class="page-action">
        <a class="button-link secondary-link" href="{{ url_for('views.student_home') }}">
            Back to Assessments
        </a>
    </p>

    </section>

{% endblock %}
